.imgRed{
    width: 70px;
    height: 70px;
}
.boxflex{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
       flex-direction: row;
       justify-content: center;
       text-align: center;
}
@media screen and (max-width: 300px) {
 .boxflex{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    flex-direction: column;
 }   
}