@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder{
    color: black;
}

.HomeText{
    text-align: center;
}
.imgBoxHome{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}
.contentBoxHome{
    padding: 10px;
}
.imgHome{
    max-width: auto;
    max-height: 500px;
}
h2{
    font-weight: bold;
    font-size: 1rem;
}
p{
    font-size: .9rem;
    font-size: small;
}

.HeaderBox{
    position: relative;
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
.menuButton svg{
    height: auto;
    width: 30px;
}
.TacticardsLogoHeader{
    height: auto;
    width: 150px;
  
}
.menuDisplayed{
    background-color: white;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    width: 100%;
    left: 0;
    top: 65px;
}
.textMenu{
   
    text-align: center;
}

@media screen and(max-width:450px) {
    .imgBoxHome{
        display: flex;
        justify-content: center;
        height: 60vh;
        width: 60vh;
    }
    .imgHome{
        width: 100%;
        height: 100%;
    }
}